Header {
	dock: top;
	height: 1;
}

Footer {
	dock: bottom;
	height: 1;
}

#nav_bar {
	align-horizontal: center;
	dock: bottom;
	height: 5;
	background: $panel;
	offset: 0 -1;
	padding: 1 0;
}

Input {
	width: 1fr;
}

Grid {
	grid-size: 2;
	grid-rows: 1fr 4;
	margin: 4 8;
}

ScrollableContainer {
	scrollbar-gutter: stable;
}

AllRecordsTree {
	margin-bottom: 1;
}

Button {
	margin: 0 2;
}

.up_down_buttons {
	min-width: 4;
	width: 4;
}

.nav_button {
	min-width: 7;
	width: 1fr;
	background: $primary;
}

.menu_button {
	min-width: 5;
	width: 5;
	background: $secondary;
	margin: 0 2 0 0;
}

#add_remove_buttons {
	height: 5;
	align-horizontal: center;
}

#record_data_inputs {
	column-span: 2;
}

RecordDataInput {
	height: 4;	
}

