Header {
	dock: top;
	height: 1;
}

Footer {
	dock: bottom;
	height: 1;
}

#nav_bar {
	align-horizontal: center;
	dock: bottom;
	height: 5;
	background: $panel;
	offset: 0 -1;
	padding: 1 0;
}

Input {
	width: 1fr;
}

Input.-valid {
	border: tall $success 60%;
}

Input.-valid:focus {
	border: tall $success;
}

SelectCurrent {
	border: tall $error 60%;
}

Select:focus > SelectCurrent {
	border: tall $error;
}

SelectCurrent.-has-value {
	border: tall $success 60%;
}

Select:focus > SelectCurrent.-has-value {
	border: tall $success;
}

SelectOverlay {
	height: auto;
	max-height: 20;
}

#exercise_type_select > SelectOverlay {
	height: 6;
}

ModalScreen {
	align: center middle;
}

#message_vertical {
	align: center middle;
	height: auto;
	width: auto;
	padding: 1 0;
	background: $panel;
}

#message_text {
	content-align-horizontal: center;
	padding-bottom: 1;
	margin: 0 1;
}

#confirm_cancel_grid {
	grid-size: 2 2;
	height: 8;
	width: 40;
	background: $panel;
}

#confirm_cancel_text {
	content-align-horizontal: center;
}

#confirm_cancel_text_box {
	column-span: 2;	
}

.grid_content_container {
	align: center middle;
}

#exercise_edit_grid {
	grid-size: 2 2;
	grid-rows: 4 4;
	grid-gutter: 1 0;
	height: 10;
	margin: 0 4;
	padding-top: 1;
	background: $panel;
}

#record_edit_grid {
	grid-size: 2 3;
	grid-rows: 4 1fr 4;
	margin: 2 4;
	padding-top: 1;
	background: $panel;
}

ScrollableContainer {
	scrollbar-gutter: auto;
}

AllRecordsTree {
	margin-bottom: 1;
}

Button {
	margin: 0 2;
}

.up_down_buttons {
	min-width: 4;
	width: 4;
}



.nav_button {
	min-width: 7;
	width: 1fr;
	background: $primary;
}

.menu_button {
	min-width: 5;
	width: 5;
	background: $secondary;
	margin: 0 2 0 0;
}

#add_remove_buttons {
	height: 5;
	align-horizontal: center;
}

#record_data_inputs {
	column-span: 2;
}

RecordDataInput {
	height: 4;	
}

